<!DOCTYPE html>
<html>
<head>
    <title>Decision X</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    
    <p>Choose your Destiny!</p>

    <img src="https://www.thoughtco.com/thmb/ejhDq3aKxmpkyOPiiDcZ489Rv_s=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Delphic_Oracle_Michelangelo-5a6a715a7d8b471a952229d3e25fd0df.jpg" alt="Sibyl, the Oracle at Delphi... duh." />

    
    <ul>
        <li><a class="r1" href="/Motivation">Need help finding motivation?</a></li>   <!-- Also known as resource 1 -->
        <li><a class="r2" href="/Resource2">When she found out how to maximize her study time tonight, she called the police!</a></li>
        <li><a class="r3" href="/Resource3">Here are some jokes!</a></li>
        <li><a class="r4" href="/Resource4">If you want a suggestion for what you should do today, click here.</a></li>  
    </ul>
</body>
</html>