<!DOCTYPE html>
<html>
<head>
    <title>To Do's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/r3.css">
    <script src="{{ url_for('static', filename='r3.js') }}"></script>
</head>
<body>
    <div class="ball">
        <div class="whitesurface">

            <p id="response">8</p>
        </div>
    </div>
    <div class="inputfield">
<input type="text" placeholder="Ask Me Anything!" id="clear">
        <button id="askme" onclick="myFunction()">Generate</button>
    </div>
</body>
</html>